[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/U1traVeno/hugo-PaperMod.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
